@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
body
{
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0px;
    padding: 0px;
    background:#E6E9EC;
    font-weight: 400;
    font-size: 16px;
}
div,
input,
select,
button,
a,
textarea
{
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}
a{
    text-decoration: none !important;
}
.no-data{
    text-align: center;
}
.no-data h3{
    line-height: 300px;
}
.no-data h3 a{
    font-size: 16px;
}
.wrap-text{
    white-space: nowrap; 
    width: 100%; 
    overflow: hidden;
    text-overflow: ellipsis;
    display:block;
}
.data-more {
    display: none;
}
.divider{
    height: 1px;
    border-top: 1px solid #f1f1f1;
    margin: 15px 0px;
}
.autocomplete-suggestions 
{ 
    overflow: auto; 
    border: 1px solid #CBD3DD; 
    background: #FFF; 
}
.autocomplete-suggestion 
{ 
    overflow: hidden;
    padding: 8px 15px;
    white-space: nowrap;
    border-bottom: 1px solid #ddd; 
}
.autocomplete-selected 
{
    background: #F0F0F0; 
}
.autocomplete-suggestions strong 
{ 
    color: #029cca; 
    font-weight: normal; 
}

#page-preloader { 
    position: fixed; 
    left: 0; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    width: 100%; 
    height: 100%; 
    background: #FFF; 
    z-index: 10050; 
}
#page-preloader .spinner { 
    display: block; 
    position: absolute; 
    left: 48%; 
    top: 48%; 
    width: 100px; 
    height: 100px;
    background: url(../img/loader.gif) no-repeat center center;
    background-size: 100%;
}
.wrap-text{
    white-space: nowrap; 
    width: 100%; 
    overflow: hidden;
    text-overflow: ellipsis;
    display:block;
}
.modal.in .modal-dialog{
    z-index:9999;
}
.navbar-default
{
    float: left;
    width: 100%;
    background: #fff;
    border-bottom: none;
    -moz-box-shadow: 0 2px 2px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.1);
    box-shadow: 0 2px 2px rgba(0,0,0,.1);
    z-index: 1039;
    border:none;
    margin-bottom: 0px;
    border-radius: 0px;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}
.navbar-default .navbar-nav > li > a {
    /*color: #444;*/
    font-weight: 600;
    font-size: 14px;
    border-bottom: 2px solid transparent;
    letter-spacing: 1px;
    padding-top: 19px;
    padding-bottom: 19px;
    -webkit-transition: background-color .25s ease-out,color .25s ease-in,border .15s ease-out;
    transition: background-color .25s ease-out,color .25s ease-in,border .15s ease-out;
}
.navbar-default .navbar-nav > li > a > small{
    display: block;
    color: #4D82F8;
}
.navbar-default .navbar-nav > li.login > a,
.navbar-default .navbar-nav > li.register > a{
    padding-top: 28px;
    padding-bottom: 28px;
}
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:focus{
    color: #666;
}
.navbar-default .navbar-nav > li > a:hover{
    color: #666;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus
{
    background: none;
    color: #666;
    border-bottom: none;
}
.navbar-default .navbar-nav > li.logged-user > a {
    color: #333;
    padding-top: 29px;
    padding-bottom: 29px;
}
.navbar-default .navbar-nav > li.logged-user a img {
    max-width: 30px;
    float: left;
    margin-top: -5px;
    margin-right: 5px;
}
.dropdown-menu.right{
    right:0px;
    left:auto;
}
.dropdown-menu{
    right:auto;
    left:0px;
}
.dropdown .dropdown-menu:before {
    position: absolute;
    top: -7px;
    right: 8px;
    display: inline-block !important;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #eee;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}
.dropdown .dropdown-menu:after {
    position: absolute;
    top: -6px;
    right: 9px;
    display: inline-block !important;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    content: '';
}
.dropdown-menu > li > a{
    display: block;
    padding: 10px 15px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.navbar-default .navbar-brand {
    height: 60px;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 24px;
    display: block;
}
.navbar-default .navbar-brand:hover{
    color: #FFF;
}
.navbar-default .navbar-brand img
{
    max-height: 40px;
}
.navbar-default .navbar-nav > li.logged-user a img {
    max-width: 30px;
    float: left;
    margin-top: -5px;
    margin-right: 5px;
    border-radius: 50% !important;
}
.navbar-right{
    margin-right: 0px;
}
.navbar-right li a{
    outline: none;
}
.navbar-nav > li.list-property > a{
    background: #349BFF;
    color: #FFF;
    margin-left: 15px;
    padding-top: 8px;
    padding-bottom: 6px;
    margin-top: 12px;
    border-radius: 2px !important;
}
.navbar-nav > li.list-property > a:hover
{
    background: #61acf2;
}
.navbar-default .navbar-toggle{
    margin-top: 20px;
}
.navbar-default .navbar-toggle .icon-bar{
    background: #349BFF;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
    background: #FFF;
}
.reporting-table{
    font-size: 12px;
}
footer{
    text-align: center;
}
h4.BankLedgerHeading{
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
}
td.BankLedgerHeading {
    text-align: left;
}
.data-content{
    padding-top:70px;
}
.login-container {
    max-width: 420px;
    margin: auto;
    padding-top: 6%;
}
.m-b-md {
    margin-bottom: 20px;
}
.hpanel {
    background-color: none;
    border: 0;
    box-shadow: none;
    margin-bottom: 25px;
}
.hpanel .panel-body {
    background: #fff;
    border: 1px solid #eaeaea;
    border-radius: 2px;
    padding: 20px;
    position: relative;
}
.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}
.btn-success {
    background-color: #62cb31;
    border-color: #62cb31;
    color: #fff;
}
.no-pad-top{
    padding-top: 0px;
}
/*RECRUITING PROCESS*/

/*Print Section*/
.invoice-container{
    width: 733px;
    margin: 0 auto;
}
.printHead{
    text-align: center;
}
.printHead img{
    width: 100%;
}
.source-address{
    text-align: center;
    padding: 5px 0px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}
.address-bar{
    text-align: center;
}
.address-bar h3{
    margin: 5px 0px;
}
.address-bar p{
    margin-bottom: 0px;
    font-size: 14px;
}
.invoice-details{
    border:1px solid #ddd;
    padding: 4px 0px;
    box-sizing:border-box;
    display: flex;
    margin-bottom: 10px;
}
.invoice-details:after{
    display: table;
    clear: both;
    content: '';
}
.leftInfo{
    border:1px solid #ddd;
    padding: 5px 10px;
    min-height: 130px;
    margin: 0px 2px 0px 4px;
    flex:1;
}
.rightInfo{
    border:1px solid #ddd;
    padding: 5px 10px;
    min-height: 130px;
    flex:1;
    margin: 0px 4px 0px 2px;
}
.invoice-details p{
    margin-bottom: 0px;
    font-size: 13px;
}
.flightinfo{
    margin-bottom: 10px;
}
.paymentInfo{
    display: flex;
}
.paymentLeft{
    flex:1;
    padding-right: 10px;
}
.paymentRight{
    flex:1;
    padding-left: 10px;
}
.paymentLeft p{
    margin-bottom: 0px;
    padding-left: 5px;
    font-size: 14px;
}
.paymentRight tr td, .flightinfo tr td{
    font-size: 13px;
}
.informationblock{
    padding: 0px 0px 10px 0px;
}
.informationblock p{
    font-size: 12px;
    margin-bottom: 5px;
}
.table tr th{
    font-size: 14px;
}
.padd3.table tr td,.padd3.table tr th{
    padding: 3px;
}
.padd2.table tr td,.padd2.table tr th{
    padding: 2px 4px;
}
.custompadd tr td:first-child{
    text-align: right;
}
/*Print Section*/



@media(max-width:1220px){
    .no-pad-top{ padding-top: 0px; }
}
@media(max-width:960px){
    .no-pad-top{ padding-top: 0px; }
}
@media (max-width: 767px){
    .no-pad-top{ padding-top: 0px; }
}
@media(min-width: 768px){
    .no-pad-top{ padding-top: 0px; }
}
@media(max-width: 480px){
    .no-pad-top{ padding-top: 0px; }
}
@media(max-width:392px){
    .no-pad-top{ padding-top: 0px; }
}