
@{
    ViewBag.Title = "Current Cash In Hand";
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    Cash In Hand
                </div>
            </div>
            <div class="panel-body">
                <h3>@ViewBag.CashInHand.ToString("f2")</h3>
            </div>
        </div>
    </div>
</div>

