<div class="form-group">
    <label class="control-label col-md-2 no-pad-top">Card No</label>
    <div class="col-md-10">
        <input type="text" class="form-control input-xs" name="CreditCardNo" />
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2 no-pad-top">Name on Card</label>
    <div class="col-md-10">
        <input type="text" class="form-control input-xs" name="CardHolderName" />
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2 no-pad-top">Extra Amount.</label>
    <div class="col-md-10">
        <input type="text" class="form-control input-xs" name="ExtraAmount" />
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2 no-pad-top">Bank Date</label>
    <div class="col-md-10">
        <input type="text" class="form-control input-xs" name="BankDate" />
    </div>
</div>
